<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href='{% static "question/css/style.css" %}' rel="stylesheet">

</head>
<body>

<p>{{question.q_text}} </p>
<p>{{question.pub_date}}</p>
<a href="{% url 'result' question.id%}"><button>Result</button></a>
<a href="{%url 'home' %}"><button>Home</button></a>

</body>
</html>