<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href='{% static "question/css/style.css" %}' rel="stylesheet">

</head>
<body>
<p>{{ question.question_text }}</p>
<p>{{ question.pub_date }}</p>
<ul>
{% for choice in choices %}
<li>{{choice.choice_text}} - {{choice.vt}}</li>
{% endfor %}
</body>
</html>