<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href='{% static "question/css/style.css" %}' rel="stylesheet">

</head>
<body>
<p>{{ question.q_text }}</p>
<form method="POST" action="">
    {% csrf_token %}

    {% for i in choices %}
        <input type="radio" value="{{i.id}}" name="choice">
        {{ i.choice_text }}<br>
    {% endfor %}
    <button type=""submit">submit</button>
</form>

</body>
</html>