#cover {
    background-image: url('../img/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    width: 100%;
    top: 0;
    position: absolute;
}

#cover-detail {
    background-size: cover;
    background-repeat: no-repeat;
    height:500px;
    width: 100%;
    top: 0;
    position: absolute;
}

#cover-text {
    padding-left: 16%;
    color: white;
    font-weight: 900;
    padding-top: 150px;
    font-size: 5.5em;
}

#cover-subtext {
    color: white;
    padding-left: 16%;
    font-weight: 900;
    padding-top: 10px;
}

.post-div {
    position: absolute;
    top: 550px;
}

#posts {
    margin: 0 100px;
}

#post-content {
    position: absolute;
    top: 550px;
}

.post-detail {
    font-size: 1.2em;
    margin: 0 250px;
}

.img {
    height: 250px;
    margin: 20px 0px;
}

.footer {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    background-color: black;
}

.footer-data {
    padding-top: 40px;
    margin-left: 250px;
}

.footer-data a {
    color: white;
}