<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <a href="{% url 'login' %}">Click_here to login</a>
     <a href="{% url 'home' %}">Home</a>
</body>
</html>