<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>



</head>
<body>

{% if form.errors %}
    <p>Username or password is wrong</p>
{% endif %}

<h1 align="center" >WELCOME TO LOGIN PAGE</h1>
<div id="cover">
  <div class="form">
    <form class="register-form" method="post" action=" ">
        {% csrf_token %}

        <p><b>USERNAME</b></p>
      <input type="text" name="username">
        <br>
        <p><b>PASSWORD</b></p>
      <input type="password" name="password">

      <input type="submit">


    </form>
      <a href="{% url 'password_reset' %}">Reset_Password</a>

  </div>
</div>

</body>
</html>