<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if validlink %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form.password1.errors }}
    <input type="password" name="new_password1">
    {{ form.password2.errors }}
    <input type="password" name="new_password2">
    <input type="submit">

</form>
{% else %}
     <p>Not valid link</p>
{% endif %}
</body>
</html>