<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password_reset</title>
</head>
<style>
    body{
    background-image: url("blog/img/1.jpg");
    }
</style>
<body>
{% if form.email.errors %}
     <p>{{ form.email.errors }}</p>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}
    <p><b>Enter email id</b></p>
    <input type="email" name="email">
    <input type="submit">

</form>
</body>
</html>