<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password_change</title>
</head>
<body>
<h1>CHANGE YOUR PASSWORD</h1>
<form method="POST" action="">
    Old password <br>
    {% csrf_token %}
    <input type="password" name="old_password">
    Password1 <br>
    <input type="password" name="new_password1">
    Password2 <br>
    <input type="password" name="new_password2">
    <br>
    <input type="submit">

</form>

</body>
</html>