<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Password reset complete</p>
    <a href="{% url 'login' %}">click here to login</a>

</body>
</html>