<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{% if error %}
    <p>{{error}}</p>
{% endif %}
<form method="POST" action="">
    {% csrf_token %}

    <input type="text" name="firstname" placeholder="firstname">
    <input type="text" name="lastname" placeholder="lastname">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="username" placeholder="username">

    <input type="password" name="new_password">

    <input type="password" name="new_password">

    <input type="submit">


</form>

</body>
</html>