<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>ID :{{ post.id }}</p>
    <h2 align="center">ADD POST</h2>

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- #if there is file enctype should be added-->
        <p>Title</p>
        <textarea row="3" cols="150" name="title"></textarea>
        <p>Content</p>
        <textarea rows="20" cols="150" name="content"></textarea>
        <p>Img file</p>
        <input type="file" name="img" value="True">
        <p>is published</p>
        <input name="is_published" value="True" type="checkbox"/>
        <!--#<input type="" values="True"-->
        <input type="submit">
    </form>

</body>
</html>